body {
    background-color: #e8f8ff;
    background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");

    text-align: center;
    color: #fff8ff;
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper{
    display: grid;
}
@media screen and (max-width: 400px){
    .wrapper{
		grid-template-columns: 1% 98% 1%;
        grid-template-rows: 150px auto auto 15px;
        row-gap: 5px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .side{
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
@media screen and (min-width: 400px){
	.wrapper{
		grid-template-columns: 1% 98% 1%;
        grid-template-rows: 75px auto auto 15px;
        row-gap: 5px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .side{
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
@media screen and (min-width: 450px){
	.wrapper{
		grid-template-columns: 10% 60% 20% 5% 5%;  
		grid-template-rows: 50px 20px auto 15px; 
        grid-gap: 10px 5px;
        }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/4;
        grid-row: 3/4;
    }
}
@media screen and (min-width: 730px){
	.wrapper{
		grid-template-columns: 18% 48% 16% 9% 9%;
        grid-template-rows: 20px 20px auto 15px;
        row-gap: 18px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/4;
        grid-row: 3/4;
    }
}
@media screen and (min-width: 1400px){
	.wrapper{
		grid-template-columns: 24% 39% 13% 12% 12%;
        grid-template-rows: 20px 20px auto 15px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/5;
        grid-row: 3/4;
    }
}
@media screen and (min-width: 2000px){
	.wrapper{
		grid-template-columns: 24% 39% 13% 12% 12%;
		grid-template-rows: 20px 20px auto 15px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/5;
        grid-row: 3/4;
    }
}
nav{
    background-color: #a60e35;
    border-bottom: rgba(116, 28, 53, 0.356) inset 2px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
nav li{
    display: inline-block;
    margin: 3px;
}
nav a:hover{
    background-color: #741C35;
    color:#F3E5EB;
}
nav a{
    text-decoration: none;
    margin: 0 10px;
    color: #fff8ff;
    font-size: 24px;
    font-weight: bolder;
}
.Stephen{
    font-family: 'Rouge Script', cursive;
    font-size: 30px;
    font-weight: bold;
}
.Stephen p{
    display: inline-block;
    margin: inherit;
}
.Stephen img{
    height: 35px;
    width: auto;
    position: relative;
    top: 7px;
}
.Stephen:hover{
    background-color: #a60e35;
    color: #fff8ff;
}
.Stephen p:hover{
    background-color: #741C35;
    color:#F3E5EB;
}
.content p {
    margin: 16px;
}
section{
    border: 2px solid #741C35;
    background-color: #c06f82;
    background-image: url("./background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 10px;
    text-align: left;
    overflow: auto;
}
section h1, h3{
    background-color: #a60e35;
    font-weight: bold;
    font-stretch: expanded;
    font-style: italic;
    margin: 0;
    padding: 5px;
}
.side section{
    background-image: none;
    border: none;
    margin: 0;
}
.side div{
    background-color: #c06f82;
    border: rgba(116, 28, 53, 0.356) inset 2px;
}
.side p{
    margin: 3px 5px;
}

.foot p{
    display: inline-block;
    margin: 3px 5px;
    font-size: small;
}