body {
    background-color: white;
    background-image: url("./axiom-pattern.png");
    text-align: center;
    color: #313a32;
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
    color: #fff8f0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper{
    display: grid;
}
@media screen and (max-width: 400px){
    .wrapper{
		grid-template-columns: 1% 98% 1%;
        grid-template-rows: 150px auto auto 15px;
        row-gap: 5px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .side{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .cal-sec{
        display: grid;
        grid-template-columns: 50px 1fr;
    }
}
@media screen and (min-width: 400px){
	.wrapper{
		grid-template-columns: 1% 98% 1%;
        grid-template-rows: 95px auto auto 15px;
        row-gap: 5px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .side{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .cal-sec{
        display: grid;
        grid-template-columns: 50px 1fr;
    }
}
@media screen and (min-width: 767px){
	.wrapper{
		grid-template-columns: 12% 58% 18% 6% 6%;
        grid-template-rows: 30px 20px auto 15px;
        row-gap: 18px;
        column-gap: 10px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/4;
        grid-row: 2/4;
    }
    .cal-sec{
        display: grid;
        grid-template-columns: 50px 1fr;
    }
}
@media screen and (min-width: 1400px){
	.wrapper{
		grid-template-columns: 20% 39% 13% 12% 16%;
        grid-template-rows: 30px 20px auto 15px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/5;
        grid-row: 2/4;
    }
}
@media screen and (min-width: 2000px){
	.wrapper{
		grid-template-columns: 20% 39% 13% 12% 16%;
		grid-template-rows: 30px 20px auto 15px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/5;
        grid-row: 2/4;
    }
}
nav{
    background-color: #741C35;
    border-bottom: #741c355b solid 2px;
    position: fixed;
    display: flex;
    justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
    text-align: center;
    z-index: 5;
}
nav ul{
    margin: 4px;
}
nav li{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}
nav a:hover{
    background-color: #a60e35;
    color:#fff8f0;
}
a{
    text-decoration: none;
    color: #313a32;
}
nav a{
    margin: 0;
    padding: 0 10px;
    color: #fff8f0;
    font-size: 24px;
    font-weight: bolder;
}
.Stephen{
    font-family: 'Rouge Script', cursive;
    font-weight: bold;
}
.Stephen p{
    display: inline-block;
    margin: inherit;    
    font-size: 33px;
}
.Stephen:hover{
    background-color: #a60e35;
    color: #fff8f0;
}
.Stephen p:hover{
    color:#fff8f0;
}
.content p {
    margin: 16px;
}
.text{
    z-index: 1;
}
section{
    border: 2px solid #bdbdbd;
    background-color: #fafafa;
    margin-top: 10px;
    text-align: left;
    overflow: auto;
}
.content div section:first-child{
    margin-top: 10px;
}
form{
    margin: 10px;
    text-align: left;
}
.sign-up-wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
}
input{
    width: 200px;
    height: 25px;
}
section h1, h3, h4{
    background-color: #a60e35;
    font-weight: bold;
    font-stretch: expanded;
    font-style: italic;
    margin: 0;
    padding: 5px;
}
.side section{
    background-image: none;
    border: none;
    margin: 0;
}
.side div:first-child{
    margin-top: 10px;
}
.side div{
    border: #bdbdbd solid 2px;
}
.side p{
    margin: 3px 5px;
}
.cal-title{
    background-color: #a60e35;
    display: grid;
    grid-template-columns: 2fr auto 3fr;
}
.cal-title h1{
    grid-column: 2;
}
.cal-sec p, .cal-sec a {
    margin-top: auto;
    margin-bottom: auto;
}
.cal-box{
    text-align: center;
}
.cal-box :first-child{
    margin-top: 5px;
}
.cal-box :last-child{
    margin-bottom: 5px;
}
article{
    background-color: #a60e35;
    border: #f3f3f3 solid 2px;
    border-left: none;
    border-bottom: none;
}
article *{
    margin: 0 3px;
    padding: 0;
}
.foot p{
    display: inline-block;
    margin: 3px 5px;
    font-size: small;
}