/* 
    #da3939 
    https://coolors.co/232323-3d2645-a60e35-da4167-f0eff4
    https://coolors.co/fff8f0-da3939-dd1c1c-cee9ff-a60e35
*/

body {
    background-color: #cee9ffd8;
    background-image: url("./always-grey2.png");
    text-align: center;
    color: #fff8f0;
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
    color: #fff8f0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper{
    display: grid;
}
@media screen and (max-width: 400px){
    .wrapper{
		grid-template-columns: 1% 98% 1%;
        grid-template-rows: 150px auto auto 15px;
        row-gap: 5px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .side{
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
@media screen and (min-width: 400px){
	.wrapper{
		grid-template-columns: 1% 98% 1%;
        grid-template-rows: 75px auto auto 15px;
        row-gap: 5px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .side{
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
@media screen and (min-width: 450px){
	.wrapper{
		grid-template-columns: 10% 60% 20% 5% 5%;  
		grid-template-rows: 50px 20px auto 15px; 
        grid-gap: 10px 5px;
        }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/4;
        grid-row: 3/4;
    }
}
@media screen and (min-width: 730px){
	.wrapper{
		grid-template-columns: 12% 58% 18% 6% 6%;
        grid-template-rows: 20px 20px auto 15px;
        row-gap: 18px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/4;
        grid-row: 3/4;
    }
}
@media screen and (min-width: 1400px){
	.wrapper{
		grid-template-columns: 24% 39% 13% 12% 12%;
        grid-template-rows: 20px 20px auto 15px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/5;
        grid-row: 3/4;
    }
    .cal-sec{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}
@media screen and (min-width: 2000px){
	.wrapper{
		grid-template-columns: 24% 39% 13% 12% 12%;
		grid-template-rows: 20px 20px auto 15px;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .side{
        grid-column: 3/5;
        grid-row: 3/4;
    }
    .cal-sec{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}
nav{
    background-color: #a60e35;
    border-bottom: rgba(116, 28, 53, 0.356) inset 2px;
    position: fixed;
    display: flex;
    justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
    text-align: center;
    z-index: 5;
}
nav li{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav a:hover{
    background-color: #741C35;
    color:#fff8f0;
}
nav a{
    text-decoration: none;
    margin: 0 10px;
    color: #fff8f0;
    font-size: 24px;
    font-weight: bolder;
}
.Stephen{
    font-family: 'Rouge Script', cursive;
    font-weight: bold;
}
.Stephen p{
    display: inline-block;
    margin: inherit;    
    font-size: 33px;
}
.Stephen:hover{
    background-color: #a60e35;
    color: #fff8f0;
}
.Stephen p:hover{
    background-color: #741C35;
    color:#fff8f0;
}
.content p {
    margin: 16px;
}
.text{
    z-index: 1;
}
section{
    border: 2px solid #741C35;
    background-color: #d42a2a65;
    margin-top: 10px;
    text-align: left;
    overflow: auto;
}
section h1, h3{
    background-color: #a60e35;
    font-weight: bold;
    font-stretch: expanded;
    font-style: italic;
    margin: 0;
    padding: 5px;
}
.side section{
    background-image: none;
    border: none;
    margin: 0;
}
.side div{
    border: #6b2436a2 inset 2px;
}
.side p{
    margin: 3px 5px;
}
.cal-title{
    background-color: #a60e35;
    display: grid;
    grid-template-columns: 2fr auto 3fr;
}
.cal-title h1{
    grid-column: 2;
}
.cal-sec p, .cal-sec a {
    margin-top: auto;
    margin-bottom: auto;
}
.foot p{
    display: inline-block;
    margin: 3px 5px;
    font-size: small;
}