<div>
    {% if cal %}
        <section class="cal-title"><h1>Upcoming Events</h1></section>
        {% for c in cal %}
            <section class="cal-sec">
                {% if c.flyer %}
                    <a href="#" style="display: none" ></a><img style="display: none" src="{{c.flyer}}" >
                {% endif %}
                    <span>
                        <h3>{{ c.dateAndDay }} of {{ c.getMonth }}</h3>
                    </span>
                {% if c.flyer %}
                    </a>
                {% endif %}
                {% if c.event_site %}
                    <a href="{{ c.event_site }}">
                {% endif %}
                    <p>{{ c.title }}</p>
                {% if c.event_site %}
                    </a>
                {% endif %}
            </section>
        {% endfor %}
    {% endif %}
</div>
<br>
<div>
    {% if side %}
        {% for s in side %}
            <section>
                <h3>{{ s.title }}</h3>
                <p>{{ s.text|linebreaks }}</p>
            </section>
        {% endfor %}
    {% else %}
        <p style="display: none">no links</p>
    {% endif %}
</div>
<br>
<div>
    {% if info %}
        {% for i in info %}
            <section>
                <h3>{{ i.title }}</h3>
                <p>{{ i.text|linebreaks }}</p>
            </section>
        {% endfor %}
    {% else %}
        <p style="display: none">no contact info</p>
    {% endif %}
</div>
<br>
<div class="foot">
    {% include 'Stevie/footer.html' %}
</div>