<div>
    {% if cal %}
        {% for c in cal %}
            <section>
                <h3>{{ c.title }}</h3>
                

            </section>
        {% endfor %}
    {% endif %}
</div>
<br>
<div>
    {% if side %}
        {% for s in side %}
            <section>
                <h3>{{ s.title }}</h3>
                <p>{{ s.text|linebreaks }}</p>
            </section>
        {% endfor %}
    {% else %}
        <p style="display: none">no links</p>
    {% endif %}
</div>
<br>
<div>
    {% if info %}
        {% for i in info %}
            <section>
                <h3>{{ i.title }}</h3>
                <p>{{ i.text|linebreaks }}</p>
            </section>
        {% endfor %}
    {% else %}
        <p style="display: none">no contact info</p>
    {% endif %}
</div>
<br>
<div class="foot">
    {% include 'Stevie/footer.html' %}
</div>